<div style="padding: 5px">
  <ace-editor
       [(text)]="code"
       [mode]="'r'"
       [theme]="'tomorrow_night'"
       [readOnly]="false"
       [autoUpdateContent]="true"
       [durationBeforeCallback]="1000"
       (keydown)="keyDownEvent($event)" #editor
       style="width: 100%; resize: none; height: 69vh"></ace-editor>

  <div style="height: 3vh; padding-left: 45px; padding-right: 5px">
    <h4 class="fas fa-angle-double-right" style="color: dodgerblue" title="Run code" (click)="runFullCode()"></h4>
    <h4 class="fas fa-angle-right" style="color: dodgerblue; padding-left: 4px" title="Run selected" (click)="runSelectedCode()"></h4>
<!--    <h5 class="fas fa-align-center" style="color: dodgerblue; padding-left: 4px;" title="Format code" (click)="beautifyCode()"></h5>-->
  </div>

</div>
