<div style="padding: 5px">
  <ace-editor
       [(text)]="code"
       [mode]="'r'"
       [theme]="'tomorrow_night'"
       [readOnly]="false"
       [autoUpdateContent]="true"
       [durationBeforeCallback]="50"
       (keydown)="keyDownEvent($event)"
       (keypress)="saveChanges()" #editor
       style="width: 100%; resize: none; height: 67vh"></ace-editor>

  <div  style="height: 3vh; padding-left: 45px; padding-right: 5px ">
    <h4 *ngIf="!waitingForCompletion" class="fas fa-angle-double-right" style="color: dodgerblue; border: 1px;" title="Run code" (click)="runFullCode()"></h4>
    <h4 *ngIf="!waitingForCompletion" class="fas fa-angle-right" style="color: dodgerblue; padding-left: 4px" title="Run selected" (click)="runSelectedCode()"></h4>
    <h4 *ngIf="waitingForCompletion" class="fas fa-sync-alt" style="color: dodgerblue; padding-left: 4px;  animation: spin 2s linear infinite" title="Thinking..."></h4>
    <h4 *ngIf="waitingForCompletion" class="fas fa-pause" style="color: dodgerblue; padding-left: 4px" title="Cancel request" (click)="cancelRequest()"></h4>
  </div>

</div>
