<nav>
  <button class="btn btn-sm btn-cyan" routerLink="input" routerLinkActive="active">Free input</button>
  <b style="color: white">Strategy explorer:</b>
  <button class="btn btn-sm btn-cyan" routerLink="on-start" routerLinkActive="active">On start</button>
  <button class="btn btn-sm btn-cyan" routerLink="on-next" routerLinkActive="active">On next</button>
  <button class="btn btn-sm btn-cyan" routerLink="on-end" routerLinkActive="active">On end</button>
  <button class="btn btn-sm btn-cyan" routerLink="stock-names" routerLinkActive="active">Stock names</button>
  <h5 class="fas fa-arrow-alt-circle-right" style=" color: cyan;" title="Execute strategy" (click)="executeStrategy()"></h5>
</nav>
